@font-face {
    font-family: 'BattleFont';
    src: url('./Blockletter.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

body {
    background: url(/images/sea.jpg);
    background-size: cover;
    min-height: 150vh;
    margin: 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 8px;
    min-height: 80px;
    height: 15%;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 6vw;
    color: white;
    font-family: 'BattleFont';
}

.gameDiv {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* background-color: rgba(0, 0, 0, 0.692); */
    gap: 2%;
    /* width: 100%; */
    height:max-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 6vw;
}

@media screen and (max-width: 1500px) {
    .gameDiv  {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
  }

.playerDiv,
.computerDiv {
    width: 100%;
    height: 700px;
    /* padding: 1%; */
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.692);
        display: flex;
    flex-direction: column;
    align-items: center;
}

/* .playerDiv {
    border-right: solid red;
} */

.name {
    font-size: 3rem;
    color: white;
}

.grid{
    margin-top: 4%;
    height:75%;
    width: 75%;
    display: grid;
    grid-template: repeat(10,auto) / repeat(10,auto);
    /* gap:0.25%; */
    padding: 0%;
}

.tile {
    height:auto;
    width:auto;
    background-color: rgb(76, 81, 94);
    border: solid black;
    border-width: 1px;
}